*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #161617;
  color: white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}

.hide_btn {
  background: transparent;
  border: none;
}

.nav_bar {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-bottom: solid white 5px;
}

.nav_title {
  font-size: 2rem;
  color: white;
}

.nav_button {
  font-size: 2rem;
  font-weight: 800;
  width: 50px;
  height: 50px;
  background-color: yellow;
  border: none;
  border-radius: 50px;
}

.nav_button:hover {
  background-color: black;
  color: yellow;
  cursor: pointer;
}

.inputField {
  display: none;
  position: absolute;
  right: -800px;
  transition: right 1s;
  height: 100%;
  background-color: black;
  min-width: 400px;
  display: flex;
  justify-content: center;
}

.modalScreen {
  opacity: 0.6;
  background-color: #161617;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.blockScreen {
  display: flex;
}

.showModal {
  right: 0;
  transition: right 1s;
}

.inputMain {
  width: 300px;
  height: 70%;
  background-color: #161617;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}

.inputMain label {
  margin-top: 70px;
}

.inputMain input {
  width: 250px;
  margin-top: 5px;
  display: flex;
  background-color: transparent;
  color: white;
  border: solid white 1px;
}

.flash_red {
  outline: solid red 4px;
}

.customer_create_button {
  margin-top: 100px;
}

.main_section {
  margin-top: 40px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.customer_info {
  margin: 0 30px;
}

.del_customer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: red;
  font-size: 2rem;
  border-radius: 5px;
  border: none;
  width: 25px;
  height: 25px;
}

.del_customer:hover {
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.customer_title {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  margin-left: 25px;
}

.customer_box {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; */
  display: grid;
  grid-template-columns: 25px 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 10px;
  font-size: 1.5rem;
  margin-left: 25px;
  max-width: 300px;
  min-width: 200px;
  margin-bottom: 20px;
}

.customer_items {
  color: red;
}

.lorry_map {
  background-color: #161617;
  border: solid white 2px;
  width: 500px;
  height: 500px;
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.lorry_map div {
  border: solid white 2px;
}

.map_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map_box:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.map_buttons {
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.map_btn {
  width: 50px;
  background-color: yellow;
  color: black;
  border: none;
}

.map_btn:hover {
  color: yellow;
  background-color: #161617;
  cursor: pointer;
}

.customer_name:hover {
  cursor: pointer;
  color: red;
}
