*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* background-color: #161617; */
  /* overflow: hidden; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --dark_main_color: #161617;
  --dark_secondary_color: white;

  --light_main_color: white;
  --light_secondary_color: black;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.dark_mode {
  background-color: var(--dark_main_color);
  color: var(--dark_secondary_color);
}

.light_mode {
  background-color: var(--light_main_color);
  color: var(--light_secondary_color);
}

.hide_btn {
  background: transparent;
  border: none;
}

/* Popup screen for vehicle choice */

.vehicle_choice_screen {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vehicle_choice_screen h2 {
  margin-top: 5%;
  margin-bottom: 10%;
}

.vehicle_container {
  display: flex;
  justify-content: center;
  gap: 10%;
  width: 100%;
}

.choice_btn {
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: yellow;
  color: black;
}

.choice_btn:hover {
  background-color: black;
  color: yellow;
  cursor: pointer;
}

.nav_bar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: solid 5px;
}

.nav_title {
  font-size: 2rem;
}

.nav_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.theme_btn {
  cursor: pointer;
  width: 100px;
  border: solid;
}

.theme_btn div:hover {
  background-color: gray;
}

.toggle_mode {
  font-size: 0.8rem;
  padding: 5px;
  position: relative;
  height: 100%;
  width: 50%;
  outline: solid;
}

.toggle_light_mode {
  float: right;
}

.nav_button {
  font-size: 2rem;
  font-weight: 800;
  width: 50px;
  height: 50px;
  background-color: yellow;
  border: none;
  border-radius: 50px;
}

.nav_button:hover {
  background-color: black;
  color: yellow;
  cursor: pointer;
}

.input_light {
  background-color: white;
}

.inputField {
  visibility: hidden;
  position: absolute;
  right: -800px;
  transition: right 1s;
  height: 100%;
  background-color: black;
  min-width: 400px;
  display: flex;
  justify-content: center;
}

.modalScreen {
  opacity: 0.6;
  background-color: #161617;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.blockScreen {
  display: flex;
}

.showModal {
  visibility: visible;
  right: 0;
  transition: right 1s;
}

.inputMain {
  width: 300px;
  height: 75%;
  background-color: #161617;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}

.inputMain label {
  margin-top: 70px;
}

.inputMain input {
  width: 250px;
  margin-top: 5px;
  display: flex;
  border: solid 1px;
}

.flash_red {
  outline: solid red 4px;
}

.flash_green {
  outline: solid green 4px;
}

.customer_create_button {
  margin-top: 100px;
}

.main_section {
  margin-top: 40px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.customer_info {
  margin: 0 20px;
}

.customer_name {
  align-self: center;
  margin-left: 5px;
  margin-right: 10px;
}

.del_customer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: red;
  font-size: 2rem;
  border-radius: 5px;
  border: none;
  width: 25px;
  height: 25px;
}

.del_customer:hover {
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.customer_box {
  display: grid;
  grid-template-columns: 25px 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 1px;
  font-size: 1.2rem;
  margin-left: 25px;

  min-width: 200px;
  margin-bottom: 0.5rem;
}

.customer_items {
  color: red;
  font-size: 1.2rem;
  align-self: center;
}

.box_map {
  width: 500px;
  height: 500px;
  margin: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box_trailer {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box_trailer_boot {
  outline: solid 3px;
  height: 90px;
  width: 100%;
}

.box_trailer_triangle {
  width: 90%;
  border: solid 4px;
  border-radius: 5px;
  height: 80px;
  /* border: 250px solid transparent;
  border-top: 0;
  border-bottom: 100px solid black; */
}

.box_trailer_main {
  outline: solid;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.box_trailer_main div:nth-child(7) {
  grid-area: 3 / 1 / span 2 / span 2;
}

.lorry_info {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lorry_map {
  outline: solid 3px;
  width: 500px;
  height: 500px;
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.lorry_map div {
  outline: solid 2px;
}

.map_box {
  outline: solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.map_box:hover {
  background-color: rgb(208, 208, 208);
  color: black;
  border: none;
  cursor: pointer;
}

.map_buttons {
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.map_btn {
  width: 50px;
  background-color: yellow;
  border: none;
}

.map_btn:hover {
  color: yellow;
  background-color: #161617;
  cursor: pointer;
}

.customer_name:hover {
  cursor: pointer;
  color: red;
}

@media (max-width: 1000px) {
  html,
  body {
    overflow: visible;
  }
  .del_customer {
    height: 20px;
    width: 20px;
    font-size: 1rem;
  }
  .main_section {
    margin-top: 40px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav_title {
    font-size: 1.5rem;
  }

  .nav_button {
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    align-items: center;
  }

  .customer_info {
    font-size: 0.5rem;
  }

  .customer_items {
    font-size: 0.8rem;
  }

  .customer_name {
    margin-left: 0px;
  }

  .customer_box {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 25px 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 15%;
    width: 100%;
    margin-bottom: 5px;
  }

  .customer_info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-wrap: wrap;
    margin: 0px;
  }

  .lorry_map {
    border: solid white 2px;
    margin-top: 5px;
    width: 360px;
    height: 360px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .box_map {
    width: 360px;
    height: 360px;
    margin: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .lorry_info {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputField {
    visibility: hidden;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: right 0s;
    height: 100%;

    background-color: black;
    min-width: 400px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .modalScreen {
    opacity: 0.6;
    background-color: #161617;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
  }

  .showModal {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
  }

  .map_buttons {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .map_box {
    font-size: 0.7rem;
    flex-wrap: wrap;
    padding: 5px;
  }

  .inputMain {
    width: 300px;
    height: 60%;
    background-color: #161617;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }

  .inputMain label {
    margin-top: 30px;
  }

  .inputMain button {
    margin-top: 30px;
  }
}
